<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>MDM</string>
	<key>PluginSlug</key>
	<string>mdm</string>
	<key>PluginUUID</key>
	<string>d83494df-9406-4ade-a791-23b1c1fda07c</string>
	<key>PluginVersion</key>
	<string>1.2.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_mdm.plugin</string>
	</array>
</dict>
</plist>
