<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>FileVault Escrow</string>
	<key>PluginSlug</key>
	<string>filevault-escrow</string>
	<key>PluginUUID</key>
	<string>467319d2-f57d-4df6-8d17-e755dde89ac3</string>
	<key>PluginVersion</key>
	<string>1.0.1.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_filevault_escrow.plugin</string>
	</array>
</dict>
</plist>
