<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Activation Lock</string>
	<key>PluginSlug</key>
	<string>activation-lock</string>
	<key>PluginUUID</key>
	<string>E2E1633E-B763-4EA0-8F68-49334FF75E51</string>
	<key>PluginVersion</key>
	<string>1.0.0.1</string>
	<key>ProgramArguments</key>
	<array>
		<string>_activation_lock.plugin</string>
	</array>
</dict>
</plist>
