<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>User Accounts</string>
	<key>PluginSlug</key>
	<string>user-accounts</string>
	<key>PluginUUID</key>
	<string>ebf8178c-9b86-49b1-8218-0e19eb3a9e6e</string>
	<key>PluginVersion</key>
	<string>1.0.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_user_accounts.plugin</string>
	</array>
</dict>
</plist>
