<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Linux Updates</string>
	<key>PluginSlug</key>
	<string>linux-updates</string>
	<key>PluginUUID</key>
	<string>7DDF5856-A27F-49B7-B831-AEFC5612C4DC</string>
	<key>PluginVersion</key>
	<string>1.0.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_linux_updates.plugin</string>
	</array>
</dict>
</plist>
