<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>User Accounts</string>
	<key>PluginSlug</key>
	<string>user-accounts</string>
	<key>PluginUUID</key>
	<string>3DDE4C8D-8078-44A6-9E26-C66FEDB12371</string>
	<key>PluginVersion</key>
	<string>1.0.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_user_accounts.plugin</string>
	</array>
</dict>
</plist>
